<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd"
            default-autowire="byName">

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${datasource.user}" />
        <property name="password" value="${datasource.password}" />
        <property name="jdbcUrl" value="${datasource.url}" />
        <property name="driverClass" value="${datasource.driverClass}" />
        <property name="minPoolSize" value="${datasource.minPoolSize}" />
        <property name="maxPoolSize" value="${datasource.maxPoolSize}" />
        <property name="maxIdleTime" value="${datasource.maxIdleTime}" />
        <property name="acquireIncrement" value="${datasource.acquireIncrement}" />
        <property name="maxStatements" value="${datasource.maxStatements}" />
        <property name="initialPoolSize" value="${datasource.initialPoolSize}" />
        <property name="idleConnectionTestPeriod" value="${datasource.idleConnectionTestPeriod}" />
        <property name="breakAfterAcquireFailure" value="${datasource.breakAfterAcquireFailure}" />
    </bean>

</beans>